# Virtualenv
venv/

# Cachés de Python
__pycache__/
*.py[cod]

# Base de datos local
Control_dias/mi_base.db
Control_dias/create_users.py
Control_dias/reset_db.py
Control_dias/change_password.py

# Archivos de VSCode
.vscode/

# Si usas un .env para secretos
.env
